<form>
    <div class="modal fade" id="travelEditPartial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos del Viaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3">
                            <label for="txtTravelCodeEdit" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtTravelCodeEdit" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="txtNumberOfSeatsEdit" class="form-label">Nombre y Apellido</label>
                            <input type="text" class="form-control" id="txtNumberOfSeatsEdit" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="txtDestinationEdit" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="txtDestinationEdit" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="txtPlaceOfOriginEdit" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtPlaceOfOriginEdit" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="txtPriceEdit" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtPriceEdit" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="inputId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnRegistrar" class="btn btn-primary" onclick="Update();">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

}