
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listado de Viajes</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="listado">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Codigo de viaje
                                </th>
                                <th>
                                    Número de plaza
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Lugar de origen
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_TravelAddPartial" />

@section Scripts{
    <script src="~/js/TravelJs.js" asp-append-version="true"></script>
    <script>LoadTravelList();</script>
}