
<form>
    <div class="modal fade" id="passengerAddPartial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos del Pasajero</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3">
                            <label for="txtIdentityCard" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="txtIdentityCard" placeholder="1234567">
                        </div>
                        <div class="mb-3">
                            <label for="txtName" class="form-label">Nombre y Apellido</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Pedro Perez">
                        </div>
                        <div class="mb-3">
                            <label for="txtAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="txtAddress" placeholder="Avenidas Caracas">
                        </div>
                        <div class="mb-3">
                            <label for="txtTelephone" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="txtTelephone" placeholder="0412000000000">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="inputPassengerId" />
                    <button type="button" id="btnClosePassenger" class="btn btn-secondary">Cerrar</button>
                    <button type="button" id="btnAddPassenger" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    
 }
