
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listado de Pasajeros</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="listado">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Cedula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_PassengerAddPartial" />
<partial name="_PassengerEditPartial" />

<div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example"><button type="button" class="btn btn-danger" onclick=""><i class="fa fa-remove"></i></button><button type="button" class="btn btn-success" onclick="GetData('8164e0dc-3ee2-4c12-95a1-079c06191394')"><i class="fa fa-edit"></i></button></div>
<script src="~/js/PassengerJs.js" asp-append-version="true"></script>

@section Scripts{
    
    <script>
        LoadLis();
    </script>
}