
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listado de Pasajeros</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="listado">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Cedula
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_PassengerAddPartial" />

@section Scripts{
    <script src="~/js/PassengerJs.js" asp-append-version="true"></script>
    <script>
        LoadLis();
    </script>
}